<p>Player 1: <%= @game.player1.get_name %></p>
<p>Player 2: <%= @game.player2.get_name %></p>
<p><%= @game.player2.get_name %>'s Hit Points: <%= @game.player2.hp %>HP</p>

<form action="/attack">
<input type="submit" value="Attack Player 2">
</form>
